.main-player {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 13, 13);
}

.header-bar,
.footer-bar  {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 5px;
  height: 50px;
  display: flex;
  color: #fafafa;
  background-color: rgba(80, 80, 80, 0.733);
}

.footer-bar {
  bottom: 0;
}

.header-bar {
  top: 0;
}

.current-show,
.live-badge {
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
}

.live-badge {
  background-color: #ad0303;
}

.header-container,
.footer-container {
  align-self: center;
}

.player-btn {
  cursor: pointer;
}

.middle-content {
  height: 100%;
  display: flex;
}

.middle-content img {
  max-height: calc(100vh - 150px);
  max-width:  calc(100vw - 20px);
  padding: 10px;
  margin: auto;
  display: block;
}

.footer-text {
  align-self: center;
  padding-left: 10px;
}

.header-text {
  align-self: center;
  padding-left: 10px;
  font-size: 16pt;
}

#station-logo {
  width: 40px;
  height: 40px;
}
