<div class="main-player" *ngIf="lautFMStationInfo">
  <div class="header-bar" [style.background]="settings.currentSettings.cO">
    <div class="header-container">
      <img id="station-logo" [src]="lautFMStationInfo.images.station_80x80">
    </div>
    <div class="header-text">
      {{lautFMStationInfo.display_name}}

      <ng-container *ngIf="settings.currentSettings.sLI || settings.currentSettings.sCS">
        <br>
      </ng-container>

      <!--Live-Anzeige-->
      <ng-container *ngIf="settings.currentSettings.sLI && liveStatus">
        <span class="live-badge">live</span>
      </ng-container>

      <!--Aktuelle Sendung anzeigen-->
      <ng-container *ngIf="settings.currentSettings.sCS">
        <span class="current-show">{{lautFMStationInfo.current_playlist.name}}</span>
      </ng-container>
    </div>
  </div>

  <div class="middle-content" [style.background]="settings.currentSettings.cB">
    <img [src]="coverSrc" *ngIf="coverSrc != ''">
    <img [src]="lautFMStationInfo.images.station_640x640" *ngIf="coverSrc == ''">
  </div>

  <!--<audio type="audio/mpeg" [src]="lautFMStationInfo.stream_url" id="audio">
    <p>Sorry, your browser does not support this player. :-(</p>
  </audio>-->

  <div class="footer-bar" [style.background]="settings.currentSettings.cO" [style.color]="settings.currentSettings.cF">
    <div class="footer-container" *ngIf="audio">
      <img src="assets/play.png" class="player-btn" (click)="onPlay()" *ngIf="audio.state == 'stopped'">
      <img src="assets/wait.png" class="player-btn" *ngIf="audio.state != 'playing' && audio.state != 'stopped'">
      <img src="assets/stop.png" class="player-btn" (click)="onStop()" *ngIf="audio.state == 'playing'">
    </div>

    <div class="footer-container" *ngIf="HTML5player">
      <img src="assets/play.png" class="player-btn" (click)="onPlay()" *ngIf="playerState != 'playing'">
      <!--<img src="assets/stop.png" class="player-btn" *ngIf="audio.state != 'playing' && audio.state != 'stopped'">-->
      <img src="assets/stop.png" class="player-btn" (click)="onStop()" *ngIf="playerState == 'playing'">
    </div>

    <div class="footer-text" *ngIf="!isFrame">
      <img src="assets/volume_up.png" class="player-btn" width="24" (click)="showVolumeSlider = !showVolumeSlider" *ngIf="null != volume && volume > 0">
      <img src="assets/volume_off.png" class="player-btn" width="24" (click)="showVolumeSlider = !showVolumeSlider" *ngIf="null != volume && volume == 0">
      <!--<img src="assets/stop.png" class="player-btn" *ngIf="audio.state != 'playing' && audio.state != 'stopped'">-->
      <!--<img src="assets/stop.png" class="player-btn" (click)="onStop()" *ngIf="playerState == 'playinxvg'">-->
    </div>

    <div class="footer-container" *ngIf="showVolumeSlider">
      <mat-slider min="0" max="1" step="0.02" [(value)]="volume"></mat-slider>
    </div>

    <div class="footer-text">
      <span style="font-size: 12pt; font-weight: bold;">{{currentSong}}</span><br>
      <span style="font-size: 11pt;">{{currentArtist}}</span>
    </div>

    <div class="footer-container" id="footer-cover" >
      <img [src]="coverSrc" *ngIf="coverSrc != ''">
      <img [src]="lautFMStationInfo.images.station_640x640" *ngIf="coverSrc == ''">
    </div>
  </div>
</div>
